* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  }

 body{
    display: flex;
    justify-content: center;
    background-color: lightcoral;
  }

.buttons {
 padding: 20px;
 display: flex;
 flex-direction: column;
}

.add-bookmark {
  height: 70px;
  width: 200px;
}


#submitBookmark, #cancelBookmark {
  margin: 20px; 
}

h1 {
  text-align: center;
}

li {
    margin-bottom: 20px;
    padding: 20px;
    background:pink;
    list-style: none;
  }

section {
  padding: 0; 
  margin: 0;
}

fieldset{
  display: flex;
  flex-direction: row;
  margin: 100px;
  padding: 20px;  
}

fieldset > input, fieldset > button {
  height: 40px;
  width: 300px;
}

.hidden {
  display: none;
}
