* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  }

 body{
    display: flex;
    justify-content: center;
    background-color: lightcoral;
  }

.buttons {
 padding: 20px;
 display: flex;
 flex-direction: column;
}

.add-bookmark {
  height: 70px;
  width: 200px;
}


#submitBookmark, #cancelBookmark {
  margin: 20px; 
}

h1 {
  text-align: center;
}

li {
    margin-bottom: 20px;
    padding: 20px;
    background:pink;
    list-style: none;
  }

section {
  padding: 0; 
  margin: 0;
}

fieldset{
  display: flex;
  flex-direction: row;
  margin: 100px;
  padding: 20px;  
}

fieldset > input, fieldset > button {
  height: 40px;
  width: 300px;
}

.bookmark-url {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.bookmark {
  max-width: 1000px;
}
.accordion { display: none }

/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

